SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTRS{idProduct}=="9091", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTRS{idProduct}=="f003", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", ATTRS{idProduct}=="d00d", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="2b01", ATTRS{idProduct}=="1109", MODE="0666", GROUP="plugdev"
#Bus 001 Device 005: ID 0e8d:201c MediaTek Inc.
SUBSYSTEM=="usb", ATTR{idVendor}=="0e8d", ATTRS{idProduct}=="201c", MODE="0666", OWNER="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="0e8d", ATTRS{idProduct}=="2006", MODE="0666", OWNER="plugdev"
